{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Lorax | Train between Two Stations</title>
  <link rel="stylesheet" href="{% static 'css/findtrains.css' %}" /> 
	<link rel="stylesheet" href="{% static 'css/form_login.css' %}" type="text/css" media="all" />
	<link rel="shortcut icon" type="image/jpg" href="{% static "images/favicon.png" %}"/>
</head>
<body>  
	{% if invalid %}
  		Please enter Correct Train Number. Check out Station Number <a href="\liststations\">here</a>
  	{% endif %}
	{% if notfound %}
  		NO train routes in this path are there as of now! Hang in there, we will make it happen!
  	{% endif %}
	<center> 
	   
    <section class="w3l-forms-23">
		<div class="forms23-block-hny">
			<div class="wrapper">
				<a class="logo" href="#">
					  <img src="{% static 'images/logo.png' %}" alt="Your logo" title="Your logo" style="height:100px;" />
				</a> 
				<br>
				<div class="d-grid forms23-grids">
					<div class="form23">
						<div class="bottom-content">
							<h3> Train Info </h3>
							<br>
							<form action="#" method="POST"> {% csrf_token %}
								<input type="text" name="fstation" class="input-form" placeholder="STATION CODE 1"
										required="required" />
								<input type="text" name="sstation" class="input-form" placeholder="STATION CODE 2"
										required="required" />
								<input type="date" name="date_of_journey" class="input-form" placeholder="Date of Journey"
										required="required" />
								<button type="submit" class="loginhny-btn btn">Submit</button>
							</form>
              				<p>Go back <a href="/dashboard/">Dashboard</a></p>
              				<p> Check station codes <a href="/liststations/"> here </a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
  </center> 

  <center>
  	
  	{% if show %}
	  <br>
	<h2>Trains Available</h2>
	<br>
	{% for trainno in trains %}
	<i>{{trainno.0}} SL:{{trainno.1}} 1A:{{trainno.2}} 2A:{{trainno.3}} 3A:{{trainno.4}}</i><br>
	{% endfor %}<br>
	<h4>To know more about these trains.</h4><br>
	<a href="/traininfo/"> <button>Click here!</button></a>
	<br><br>
	{% endif %}
  </center>
</body>
</html>