{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Lorax | Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords"
		content="An easy way to book railway tickets." />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);
		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link rel="stylesheet" href="{% static 'css/form_login.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}" />  
	<link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}" />  
	<link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}" />  
	<link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}" />  
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />  
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />  
</head>

<body>
	{% if message == "FAILED" %}
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<strong>Attention Needed!</strong> Please enter valid username/password.
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
	{% endif%}
	{% if message == "NOPERMISSION" %}
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<strong>Attention Needed!</strong> You have not verified your account. Please verify it.
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
	{% endif%}
	<section class="w3l-forms-23">
		<div class="forms23-block-hny">
			<div class="wrapper">
				<a class="logo" href="#">
					  <img src="{% static 'images/logo.png' %}" alt="Your logo" title="Your logo" style="height:100px;" />
				</a> 
				<br><br>
				<div class="d-grid forms23-grids">
					<div class="form23">
						<div class="main-bg">
							<div class="speci-login first-look">
								<img src="{% static 'images/user.png' %}" alt="" class="img-responsive">
							</div>
						</div>
						<br>
						<div class="bottom-content">
							<h2> Login </h2>
							<br>
							<form action="#" method="POST"> {% csrf_token %}
								<input type="username" name="username" class="input-form" placeholder="Your Username"
										required="required" />
								<input type="password" name="password" class="input-form"
										placeholder="Your Password" required="required" />
								<button type="submit" class="loginhny-btn btn">Login</button>
							</form>
							<p>Not a member yet? <a href="/signup/">Join Now!</a></p>
							<p>To reset Password <a href="/reset_password/">Click here!</a></p>
						</div>
					</div>
				</div>
				<div class="w3l-copy-right text-center">
					<p>© 2020 Lorax Login Form. All rights reserved</p>
				</div>
			</div>
		</div>
	</section>

</body>

</html>