{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Lorax | Train List</title>
	<link rel="stylesheet" href="{% static 'css/home.css' %}" /> 
</head>
<body>
	<header>
    	<div class="main">
    		<div class="logo">
                <img src="{% static "images/logo.png" %}" alt="Lorax">
            </div>
            <ul>
    			<li><a href="/home/">Home</a></li>
    			<li class="active"><a href="/listtrains/">Train List</a></li>
    			<li><a href="/traininfo/">Train Info</a></li>
    		</ul>
    	</div>
        <div class="title">
        <h1> Train List </h1>
        <br>
        <br>
        <br>
        <br>
        <br>
            {% for i in traininfo %}
		<h1> {{i}} </h1> 
	    {% endfor %}
        </div>
		
	</div>
	</header>

</body>
</html>
