{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Lorax | Profile </title>
	<link rel="stylesheet" href="{% static 'css/home.css' %}" /> 
</head>
<body>
	<header>
    	<div class="main">
    		<div class="logo">
                <img src="{% static "images/logo.png" %}" alt="Lorax">
            </div>
    	</div>
        <div class="title">
            {% if msg %}
            	<h1>User doesn't exist</h1>
            {% else %}
            	<h1>
            	<h1>Profile Page</h1>
            <h1> username : {{user.0.0}} </h1>
            <h1> contact : {{user.0.2}} </h1>
            {% endif %}
            <a href="/dashboard">Dashboard</a>
        </div>
		
	</header>
</body>
</html>
