{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Lorax | Book Ticket</title>
  <link rel="stylesheet" href="{% static 'css/ticket.css' %}" /> 
  <link rel="stylesheet" href="{% static 'css/home.css' %}" />  
</head>
<body>  
  <center>
    {% if not show %}
    <h1> Book Tickets for {{seat_list.0}} on {{doj}} </h1>

    <br>
    {% if no_seats %}
      <h3>There are not seats Available for the selected train and date of journey</h3>
    {% endif %}

    {% if not no_seats %}
      <form method="POST">{% csrf_token %}
        <br><br>
        <b>FIRST NAME</b><br>
        <input type="text" name="fname"><br><br>
        <b>LAST NAME</b><br>
        <input type="text" name="lname"><br><br>
        <b>GENDER</b><br>
        <select name="gender">
          <option>Male</option>
          <option>Female</option>
        </select><br> <br> 
        <b>AGE</b><br>
        <input type="number" name="age" min="6"><br><br>
        <b>CLASS</b><br>
        <select name="tclass">
          {% if seat_list.1 != 0 %}
            <option>sleeper</option>
          {% endif %}
          {% if seat_list.2 != 0 %}
            <option>first class ac</option>
          {% endif %}
          {% if seat_list.3 != 0 %}
            <option>second class ac</option>
          {% endif %}
          {% if seat_list.4 != 0 %}
            <option>third class ac</option>
          {% endif %}
        </select><br> <br> 
        <b>PHONE NO</b><br>
        <input type="text" name="number"><br><br>  
        {% if seat_list.5 != 0 %}
          <input type="submit">
        {% endif %}
      </form>
    {% endif %}
      <br>
<p>Go back!! <a href="/dashboard/">Dashboard</a></p>
  
{% endif %}

{% if show %}
  <div class="main">
        <div class="logo">
                <img src="{% static "images/logo.png" %}" alt="Lorax">
            </div>
            <ul>
          <li class="active"><a href="/logout/">Logout</a></li>
        </ul>
      </div>
        <div class="title">
            <h1>Ticket Booked</h1>
            <h2>Your Ticket No. is</h2>
            <h2>{{ticket_no}}</h2>
        </div>
    <div id = "login" class="button">
      <a href="/download_ticket/" class="btn">Download Ticket</a>
      <a href="/ticket/" class="btn">Book Another Ticket</a>
      <a href="/dashboard/" class="btn">Dashboard</a>
  </div> 
{% endif %}
</center>
</body>
</html>