{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Lorax | Book Ticket</title>
  <link rel="stylesheet" href="{% static 'css/ticket.css' %}" /> 
  <link rel="stylesheet" href="{% static 'css/home.css' %}" />  
</head>
<body>  
  <center>
    {% if not show %}
    <h1> Book Tickets </h1>
 <form method="POST">{% csrf_token %}
  <b>TRAIN NUMBER</b><br>
  <input type="number" name="tnumber" min="10000" max="99999"><br><br>
  <b>FIRST NAME</b><br>
  <input type="text" name="fname"><br><br>
  <b>LAST NAME</b><br>
  <input type="text" name="lname"><br><br>
  <b>GENDER</b><br>
  <select name="gender">
    <option>Male</option>
    <option>Female</option>
  </select><br> <br> 
  <b>AGE</b><br>
  <input type="number" name="age" min="6"><br><br>
  <b>CLASS</b><br>
  <select name="tclass">
    <option>sleeper</option>
    <option>first class ac</option>
    <option>second class ac</option>
    <option>third class ac</option>
  </select><br> <br> 
  <b>PHONE NO</b><br>
  <input type="text" name="number"><br><br>  
  <input type="submit" >
</form><br>
<a href="/logout/"> <button>logout </button></a><br>
<p>Go back!! <a href="/dashboard/">Dashboard</a></p>
{% endif %}
{% if show %}
  <div class="main">
        <div class="logo">
                <img src="{% static "images/logo.png" %}" alt="Lorax">
            </div>
            <ul>
          <li class="active"><a href="/logout/">Logout</a></li>
        </ul>
      </div>
        <div class="title">
            <h1>Ticket Booked</h1>
            <h2>Your Ticket No. is</h2>
            <h2>{{ticket_no}}</h2>
        </div>
    <div id = "login" class="button">
      <a href="/download_ticket/" class="btn">Download Ticket</a>
      <a href="/ticket/" class="btn">Book Another Ticket</a>
      <a href="/dashboard/" class="btn">Dashboard</a>
  </div> 
{% endif %}
    </center>
</body>
</html>