{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Lorax | Feedback</title>
  <link rel="stylesheet" href="{% static 'css/findtrains.css' %}" /> 
	<link rel="stylesheet" href="{% static 'css/form_login.css' %}" type="text/css" media="all" />
</head>
<body>  
	{% if done %}
	    <h3> You feedback is sent to the admin for review. Thanks </h3>
	    {% endif %}
	<center> 
	   
    <section class="w3l-forms-23">
		<div class="forms23-block-hny">
			<div class="wrapper">
				<a class="logo" href="#">
					  <img src="{% static 'images/logo.png' %}" alt="Your logo" title="Your logo" style="height:100px;" />
				</a> 
				<br>
				<div class="d-grid forms23-grids">
					<div class="form23">
						<div class="bottom-content">
							<h3> Feedback Form </h3>
							<br>
							<form action="#" method="POST"> {% csrf_token %}
								<input type="text" name="fhead" class="input-form" placeholder="Feedback Heading"
										required="required" />
								<input type="text" name="ftext" class="input-form" placeholder="Feedback Text"
										required="required" />
								<button type="submit" class="loginhny-btn btn">Submit</button>
							</form>
              				<p>Go back <a href="/dashboard/">Dashboard</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
  </center>   
  <center>
  </center>
</body>
</html>


